@charset "UTF-8";
/* 폰트 설정 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
/* reset */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  position: fixed;
}
header > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 1200px;
  margin: 0px auto;
  left: 0;
  right: 0;
  z-index: 1;
}
header > section > figure {
  width: 220px;
}
header > section > nav {
  width: calc(100% - 220px);
}
header > section > nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
header > section > nav > ul > li {
  position: relative;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1.5rem;
}
header > section > nav > ul > li.active {
  font-family: "pretendard";
  font-weight: 700;
  font-size: 1.5rem;
}
header > section > nav > ul > li:hover > ul {
  display: block;
}
header > section > nav > ul > li > ul {
  position: absolute;
  display: none;
  background: #fff;
}
header > section > nav > ul > li > ul > li {
  padding: 10px 0;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  position: relative;
}
footer > section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1200px;
  margin: 0px auto;
  display: flex;
}
footer > .gnb {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  background: #fff;
}
footer > .gnb > ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}
footer > .gnb > ul > li {
  width: 25%;
  padding: 10px 0;
}
footer > .gnb > ul > li > figure img {
  width: 45px;
  height: 45px;
}
footer > .gnb > ul > li > figure > figcaption {
  margin-top: 10px;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 1rem;
}

header.sub {
  position: sticky;
  top: 0;
  background: #fff;
}

footer.sub::before {
  content: "";
  background-image: url("../images/KakaoTalk_20230808_171021953.png");
  width: 431px;
  height: 672px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer.sub::after {
  content: "";
  background-image: url("../images/KakaoTalk_20230808_171021953_01.png");
  width: 340px;
  height: 247px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  header > section {
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  header > section > nav {
    width: 100%;
  }
  header > section > nav > ul {
    justify-content: center;
  }
  footer {
    width: 90%;
  }
}
@media (max-width: 480px) {
  header > section > nav {
    display: none;
  }
  footer .gnb {
    display: block;
  }
}
main {
  margin-bottom: 80px;
}
main article {
  width: 1200px;
  margin: 0px auto;
}/*# sourceMappingURL=common.css.map */