@import './scss/_mixin';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* reset */
* {box-sizing: border-box;}
html, body {@include mp-reset; @include pr-b{font-size:25px;}}
img {width:100%; object-fit: cover; vertical-align: middle;}
ul {list-style: none; @include mp-reset;}
figure,article {@include mp-reset;}
a {text-decoration: none; color:#000;}