@import url("../common.css");
@mixin pr-b {font-family: 'pretendard'; font-weight: 700; @content;}
@mixin wid {width: 870px;}
@mixin wid1 {width: 100%;}
header{
    position: relative;  /* 마지막에 지움 */
}
.detail{
    text-align: center;
    width: 870px;
    margin: 0 auto
}
.detail-p{
    @include wid();
    margin-bottom: 150px;
.logo{
    @include wid1();
    
    img{
        width: 150px;
        position: relative;
        left: 0;
    }
}
.d-on{
    b{
        @include pr-b{font-size:30px}
        text-align: center;
        color: #FF6888;
        display: block;
        margin: 65px auto;
    }
    figure{
        img{
            @include wid1();
        }
    }
    p{
        text-align: left;
        @include pr-b{font-size:20px}
    }
}

}

.rev{
    position: relative;
    a{
        z-index: 20;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        color: white;
        background-color: #FF6888;
        i{
            padding: 20px;
            font-size: 50px;
        }
    }
}