@import url("../common.css");
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@mixin pr-b {font-family: 'pretendard'; font-weight: 700; @content;}
main{
    width: 1200px;
    margin: 50px auto;
.list{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    h1{
        @include pr-b{font-size: 30px};
    }
    .listin{
        display: flex;
        .on1{
            flex-grow: 1;
            margin: 0 auto;
            border: 1px solid #D9D9D9;
            height: 70px;
            .d{
                @include pr-b{font-size: 20px};
                
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.on{
                background-color: #eee;
            }
        }
    }
}
.stores{
    .con{
        width: 1200px;
        height: 500px;
        display: flex;
        margin: 50px 0;
        .on2{
            text-align: center;
            border: 1px solid black;
            img{
                width: 200px;
            }
        }
    }
}
}

/* @import "../scss/sub2"; */