@import url("common.css");
main{
    width: 1200px;
    margin: 50px auto;
.list{
    width: 1200px;
    margin: 0 auto;
    h1{
        font-size: 25px;
        font-weight: bold;
    }
    ul{
        li{
            a{

            }
        }
    }
}
.contents{
    ul{
        
    }
}
}